* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

strong {
    font-weight: bold;
    color: red;
}

.lists,
p {
    color: #b026ff;
}

li::marker {
    color: greenyellow;
}

.head {
    background-color: blue;
    color: yellow;
}





